body {
  background-color: #007bff;
}

header {
  background: #343a40;
  position: sticky;
  top: 0;
  padding: 5px;
  grid-area: header;
}

.contacto{
  color: white;
}

.container-informacion{
  background: #343a40;
  display: inline-flex;
  justify-content: space-around;  
  color: white;
  
}


.primer-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 7px;
  
}

.segundo-container{
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}
.mapa{
  display: flex;
  padding-left: 130px;
}

.habla-con-nosotros{
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  background: white;
  color: #343a40;
  position: sticky;
}


.informacion{
  display: inline-flex;
  border-left: 2px black solid;
  padding-left: 20px;
  padding-right: 10px;
}

.datos{
  display: flex;
  justify-content: space-around;
  flex-direction: row ;
  
}


nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  font-family: Arial, sans-serif;;
  font-size: 18px;
  margin-right: 20px;
}

nav ul li a {
  display: block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}

nav ul li:hover {
  background: #007bff;
}

.imgheader {
  margin-left: auto;
  margin-right: 5vw;
  align-content: space-between;
}

.name{
  font-family: "Monoton", sans-serif;
  font-size: 120%;
  text-align: center;
  color: white;
  text-decoration: none;
  display: block;
}

ul, .imgheader{
  flex-grow: 1;
}

ul{
  overflow: hidden;
}

main{
  grid-area: main;
}


footer{
  background-color: #343a40;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  padding: 15px;
  grid-area: footer;
}

@media screen and (max-width: 768px){
  footer{
    font-size: 12px;
  }
}

footer a{
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover{
  color: blue;
}

.social-icons{
  margin: 20px 0;
}